<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Yenzah Ajuda </title>
    <link rel="icon" type="image/png" href="{% static "img/favicon.png" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>

  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default cor_de_fundo navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-inner">
                <div class="navbar-brand dropdown">
                  <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="menu1">Menu <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'home' %}">Página Inicial</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/manual">Manuais e Procedimentos</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/manual/material">MKT/Material Comercial</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/manual/gente_e_gestao">Gente e Gestão</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/chamado">Chamados de TI</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/chamado/anonimo">Fale com o Presidente</a></li>
                    <!-- <li role="separator" class="divider"></li>
                    <li><a href="/contato">Contatos</a></li> -->
                    <li role="separator" class="divider"></li>
                    <li><a href="/dphelp">Chamados de DP</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'alterar_senha' %}">Alterar Senha</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'esqueci_email' %}">Alterar E-mail</a></li>

                  </ul>
                </div>
              <div class="navbar-brand brand2" style="">
                <img src="{% static "img/logo60.png" %}">
              </div>
              <div class=" navbar-text pull-right">

                {% if not user.is_anonymous  %}
                  {{usuario.first_name}}
                  |
                  <a href="{% url 'auth:logout' %}?next={{ request.path }}">Sair</a>
                {% else %}
                  <a href="{% url 'home'%}">Login</a>
                {% endif %}
              </div>

          </div>
        </div>
        </nav>

    </div>
    </br>
    </br>


    {% block corpo %}

    {% endblock corpo %}
      <script type="text/javascript">
    $(function(){
            $(".dropdown").hover(
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
                        $(this).toggleClass('open');
                        $('b', this).toggleClass("caret caret-up");
                    },
                    function() {
                        $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
                        $(this).toggleClass('open');
                        $('b', this).toggleClass("caret caret-up");
                    });
            });

    </script>
    <script type="text/javascript">
      {% block javascript %}
      {% endblock javascript %}
    </script>
  </body>
