{% extends "init.html" %}
{% block corpo %}
{# <div class="col-md-4"> #}
	<form class="form-signin" role="form" action="{% url "logar" %}" 
	method="POST">
		{% csrf_token %}
		<h2 class="form-signin-heading">Login</h2>
		<input type="text" id="id_username" name="username" class="form-control" placeholder="Usuário" required autofocus>
		<input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required>
		
		<button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
		<input type="hidden" name="next" value="{{ next }}" />
		{% if error %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                Por favor, verifique o Usuário e/ou Senha informados
            </div>
        {% endif %}
        <a href="{% url 'esqueci_senha' %}">Esqueci a minha senha</a>
	</form>


{# </div> #}
{% endblock corpo %}
	
