{% extends "base_chamado.html" %}
{% block chamado_menu%}
	<li><a href="{% url url_model %}">Abrir Chamado</a></li>
	<li><a href="{% url url_listar %}">Listar Chamados</a></li>
{% endblock chamado_menu%}
{% block body %}
	{% if erro %}
      <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              &times;
          </button>
          {{erro}}
      </div>
     {%elif msg %}
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
              &times;
          </button>
          {{msg}}
      </div>
     {% endif %}
	<form role="form" action="{% url url_model %}" method="POST" class="form-group">
		{% csrf_token %}
		<div class="form-group">
			<label for="tipo">Tipos de Chamado</label>
			<select id="tipo" name="tipo" class="form-control">
				{% for tipo in tipos_chamados %}
					<option value="{{tipo.id}}">{{tipo.nome}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="descricao">Faça uma descrição do chamado:</label>
				<textarea id="descricao" name="descricao" cols=70 rows=10 class="form-control" required></textarea>
		</div>
		<button type="submit" class="save btn btn-default">Salvar</button>
	</form>

{% endblock body %}