{% extends "base_chamado.html" %}
{% block chamado_menu%}
	<li><a href="{% url url_cadastrar %}">Abrir Chamado</a></li>
 	<li><a href="{% url url_listar %}">Listar Chamados</a></li>
	<li><a href="{% url url_listar_gestor %}">Área do Gestor</a></li>

	
{% endblock chamado_menu%}
{% block body %}
{% if lista_solicitante %}
		<br>
		<p>Você tem <span class="badge">{{lista_solicitante.count}}</span> chamados abertos</p> <br>
		<table class="table is-bordered">
		<thead>
			<tr>
				<th>Chamado</th>
				<th>Nao Conformidade</th>
				<th>Data de Abertura</th>
				<th>Fase</th>
				<th>Tempo Final</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for chamado in lista_solicitante %}
			<tr>
				<td><a href="{% url url_historico chamado.codigo %}">Chamado de n° {{chamado.codigo}}</a></th>
				<td>{{chamado.tipo}}</th>
				<td>{{chamado.data_criacao}}</th>
				<td>{{chamado.fase}}</th>
				<td>{{chamado.tempo_final}}</td>
				{% if chamado.resolvido == True %}
					<td class="success">Finalizado</td>
				{% else %}
					{% if time > chamado.tempo_final %}
					<td class="danger">Atrasado</th>
					{% else %}
					<td class="success">Em andamento</td>
					{%endif%}
				{% endif %}
			</tr>

		</tbody>
		{% endfor %}
		</table>
	<hr>
{% endif %}
{% if lista_executante %}
	<ul>
		<p>Você tem {{lista_executante.count}}	chamados como executante</p>
		{{ total_atendimento_porcentagem }}
	{% for chamado in lista_executante %}
		<li><a href="{% url url_historico chamado.codigo %}">Chamado de n° {{chamado.codigo}}</a>
	{% endfor %}
	</ul>
	<hr/>
{% endif %}
<input type="button" id="botao_estado" class="btn btn-info" onclick="alterarEstado()" value="Exibir chamados fechados" />
<div class="escondido" id="chamados">
	{% if lista_solicitante_fechado %}
		<ul>
			<p>Você tem {{lista_solicitante_fechado.count}} chamados como fechados</p>
		{% for chamado in lista_solicitante_fechado %}
			<li><a href="{% url url_historico chamado.codigo%}"> Chamado de nº {{chamado.codigo}} </a>
		{% endfor %}
		</ul>
		<hr />
	{% endif %}

	{% if lista_executante_fechado %}
		<ul>
			<p>Você tem {{lista_executante_fechado.count}} chamados como executante fechados</p>
		{% for chamado in lista_executante_fechado %}
			<li><a href="{% url url_historico chamado.codigo %}"> Chamado de nº {{chamado.codigo}} </a>
		{% endfor %}
		</ul>
	{% endif %}
</div>
<script type="text/javascript">
	function alterarEstado(){
		$('#chamados').removeClass('escondido');
		$('#botao_estado').addClass('escondido');
	}
</script>
{% endblock body %}}
