{% extends "init.html" %}
{% load staticfiles %}
{% block corpo %}
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>1- Quais datas de pagamento?</h2>
    <p>Os pagamentos são feitos da seguinte forma:</p>
    <p>Dia 15 – Premiação.</p>
    <p>Dia 20 – Adiantamento salarial 30% do salário base.</p>
    <p>Dia 5 – Pagamento Mensal (Salário base com premiação deduzido os descontos legais e os adiantamentos salariais).</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>2- Quais descontos encontrarei em meu  contra cheque?</h2>
    <p>Plano de saúde R$ 0,01</p>
    <p>Plano Odontológico R$ 0,01</p>
    <p>INSS – Variável conforme o salário bruto do mês.</p>
    <p>Vale transporte:  6% do salário base.</p>
    <p>Ticket – R$ 0,01</p>
    <p>IRRF – Quando o salário bruto reduzindo o desconto do INSS  for superior a R$ 1.993,99</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>3- Quando é creditado o Ticket?</h2>
    <p>O ticket é creditado no último dia do mês, para ser usado no mês subsequente.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>4- Como conferir o valor do ticket?</h2>
    <p>O valor de ticket diário é de R$13,00 Multiplicando este valor pela quantidade de dias que serão trabalhados (de segunda a sábado), encontramos o valor  do mês.</p>
    <p>O saldo pode ser consultado pelo site: <a href="http://www.ticket.com.br" target="_blank"> www.ticket.com.br</a> </p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>5- Quando é creditado o Vale transporte?</h2>
    <p>O ticket é creditado no último dia do mês, para ser usado no mês subsequente. </p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>6- Qual o plano de Saúde?</h2>
    <p>SulAmérica Clássico Produto 567.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>7- Qual o desconto do plano de Saúde?</h2>
    <p>O valor mensal é de R$ 0,01 para o titular. Quando houver uso em consultas e exames simples,
      haverá também a coparticipação de 10% do valor do procedimento.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>8- É possível saber o valor antecipadamente?</h2>
    <p>Não. Há uma média de valores que podemos ter como base apenas para consultas, que varia de R$7 a R$20 por consulta.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>9- Como identificar se pagarei ou não um exame?</h2>
    <p>Somente exames simples terão coparticipação. Exemplo: Exame de laboratório, Raio-X, Eletrocardiograma.</p>
    <p>Caso tenha dúvida se o exame que fará é simples, pode ligar para o atendimento SulAmerica (4004-5900) e pedir a classificação do exame.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>10- Temos plano odontológico? Qual?</h2>
    <p>Sim, SulAmérica Odonto.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>11- Quem posso colocar como dependente? Há custo?</h2>
    <p>Somente cônjuge e filhos. O custo do dependente é conforme a idade.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>12- Quem faz o calculo para pagamento de gueltas?</h2>
    <p>A contagem é feita pelo Trade Marketing,
      que informará com antecedência o DP os valores a serem pagos.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>13- Em caso de reclamação de valor das gueltas?</h2>
    <p>Dúvidas sobre quantidade e valores de gueltas, precisam ser direcionadas ao Trade Marketing.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>14- Em caso de ausência ao trabalho, como proceder?</h2>
    <p>O funcionário precisa comunicar imediatamente a impossibilidade de comparecimento ao gestor do Trade.
      Em caso de atestado, deverá ser entregue ao DP em até 48h, pode ser enviado por correios.</p>
  </div>
</div>
<div class="col-md-12">
  <div class="sidebar-nav well">
    <h2>15- Como acessar o contra cheque:</h2>
    <p>O contra cheque é disponibilizado no site: <a href="http://yenzah.bpoinnova.com/yenzah/" target="_blank"> http://yenzah.bpoinnova.com/yenzah/</a></p>
    <p>Login: SEU CPF (com pontos e traço)</p>
    <p>Senha: 123</p>
    <p>Acessar o ícone demonstrativo de pagamento e preencher conforme a necessidade.</p>
  </div>
</div>
{% endblock corpo %}
