{% extends "init.html" %}
{% load staticfiles %}
{% block corpo %}
  {% for tipo in tipos %}
      <div class="col-md-6">
        <div class="sidebar-nav well">
          <h2> {{tipo.descricao}}</h2>
          {% for manual in manuais %}
            {% if manual.tipo = tipo %}
              <ul class="nav nav-list">
                <li><a href="{{manual.arquivo.url}}">{{manual.descricao}}</a></li>
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      </div>
  {% endfor %}
{% endblock corpo %}
